body {
  margin: 0;
  padding: 0;
  background-image: url(bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  font-family: "sans-serif";
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-box {
  width: 320px;
  height: 420px;
  background-color: aliceblue;
  color: black;
}
.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  top: -50px;
  left: 115px;
}
h1 {
  margin-top: -25px;
  padding: 0;
  text-align: center;
}
.login-box p {
  margin: 0;
  padding: 0;
  font-weight: bold;
}
.login-box input {
  width: 100%;
  margin-bottom: 20px;
}

.login-box input[type="text"],
input[type="password"] {
  border: none;
  border-bottom: 1px solid black;
  height: 20px;
  background: transparent;
  outline: none;
  background: transparent;
  font-size: 15px;
}
